nuxeo-hyland-content-intelligence-connector-package/src/main/resources/install/templates/embedding-sample/nxserver/config/schemas/embedding.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/embedding"
           targetNamespace="http://www.nuxeo.org/ecm/project/schemas/embedding">
  <!-- helper XSD definitions for list types -->  
  <xs:simpleType name="doubleList">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>
  <xs:element name="image" type="nxs:doubleList"/>
  <xs:element name="text" type="nxs:doubleList"/>
</xs:schema>
